# Thay the bang URL cua Backend sau khi deploy thanh cong (Vi du: https://unichat-api.onrender.com)
VITE_API_URL=https://<your-backend-url>
VITE_GOOGLE_CLIENT_ID=1094444929007-avg6u84ak9i7n9ggnc543e1prb4otv9g.apps.googleusercontent.com
