# APP CONFIG
PORT=3000
JWT_SECRET=zaloeducation_super_secret_key_123
FRONTEND_URL=http://localhost:8081

# DYNAMODB CONFIG
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=mock_access_key
AWS_SECRET_ACCESS_KEY=mock_secret_key
DYNAMODB_ENDPOINT=http://localhost:8000
DYNAMODB_TABLE_NAME=Users

# REDIS CONFIG (ElastiCache local)
REDIS_HOST=localhost
REDIS_PORT=6379

# GMAIL NODEMAILER CONFIG
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
